* {
  margin: 0;
  padding: 0;
}

body {
  background: #222;
  font-family: sans-serif, Arial, Helvetica;
  overflow: hidden;
}


#container {
  width: 100vw;
  height: 100vh; 
}

.input {
  position: fixed;
  top: 0px;
  background: rgb(255, 133, 170);
  height: 3vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 20px rgb(255, 116, 116);
}

select {
  outline: none;
}

canvas {
  width: 100vw;
  height: 100vh;
}

#button {
  outline: none;
  text-decoration: none;
  width: 70px;
}